#div-container,h1,h2,h3, #button-container{
    display: flex;
    justify-content: center;
}

h1,h2{ 
    margin: 5rem .5rem 0;
    font-size: 100px;
    color: #f40000;
}

h3{
  color: aqua;
}




@keyframes color {
  0%   { background: #ffffff; }
  20%  { background: #000000; }
  40%  { background: #ffffff; }
  60%  { background: #000000; }
  80%  { background: #ffffff; }
  100% { background: #000000; }
}

body {
  
  animation: color 15s infinite linear;
  text-align: center;
  padding: 2em;
}


 
 #button-Container {
    margin-top: 15%;
    display: flex;
    justify-content: center;
  } 

 button {
    margin-left: 5rem;
    padding: 1%;
    border-radius: 45%;
    border: black solid 2px;
    width: 12%;
  }
  
  button:hover {
    background-color: hsl(255, 45%, 55%);
    transform: translateY(2px);
    box-shadow: 0 5px rgb(224, 81, 202);
  }

  /* #div-Container2{
    width: 40px;
    aspect-ratio: 1/1;
    background-color: blue;
    margin: 2rem;
   
} */